---
layout: page
title: Categories
description: All posts sorted by categories
permalink: /category/
---

<div class="category-page">
  <div class="category-list">
    {% for category in site.categories %}
      <div class="category-item">
        <h2 id="{{ category[0] | slugify }}" class="category-title">
          {{ category[0] }}
          <span class="post-count">{{ category[1].size }} posts</span>
        </h2>
        <ul class="post-list">
          {% for post in category[1] %}
            <li class="post-item">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <h3 class="post-title">{{ post.title }}</h3>
                {% if post.description %}
                  <p class="post-description">{{ post.description | truncate: 160 }}</p>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>